{% load widget_tweaks %}

<form method="post">
    {% csrf_token %}


    <div class="input-group mb-3">
        <span class="input-group-text"><i class="bi bi-calendar-event"></i>&nbsp;&nbsp;Дата</span>
        {{ form.created_at|add_class:"form-control" }}
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text"><i class="bi bi-check-circle-fill"></i>&nbsp;&nbsp;Статус</span>
        {{ form.status|add_class:"form-control" }}
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text"><i class="bi bi-shuffle"></i>&nbsp;&nbsp;Тип</span>
        {{ form.type|add_class:"form-control" }}
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text"><i class="bi bi-tags-fill"></i>&nbsp;&nbsp;Категория</span>
        {{ form.category|add_class:"form-control" }}
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text"><i class="bi bi-tag-fill"></i>&nbsp;&nbsp;Подкатегория</span>
        {{ form.subcategory|add_class:"form-control" }}
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text"><i class="bi bi-currency-ruble"></i>&nbsp;&nbsp;Сумма</span>
        {{ form.amount|add_class:"form-control" }}
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text"><i class="bi bi-chat-dots-fill"></i>&nbsp;&nbsp;Комментарий</span>
        {{ form.comment|add_class:"form-control" }}
    </div>

    <div class="d-grid gap-2 pt-3">
        <button type="submit" class="btn btn-success btn-lg">Сохранить</button>
    </div>
</form>
